/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   Feed.css                                           :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: eric <eric@student.42.fr>                  +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2026/02/06 14:06:43 by eric              #+#    #+#             */
/*   Updated: 2026/02/06 14:06:57 by eric             ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

