/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: eric <eric@student.42.fr>                  +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2026/02/20 09:00:14 by eric              #+#    #+#             */
/*   Updated: 2026/02/20 09:00:19 by eric             ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

@tailwind base;
@tailwind components;
@tailwind utilities;

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body 
{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Support des polices arabes */
html[lang="ar"] body {
  font-family: 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
}

/* Ajustements RTL automatiques */
html[dir="rtl"] {
  text-align: right;
}

html[dir="rtl"] .text-left {
  text-align: right !important;
}

html[dir="rtl"] .text-right {
  text-align: left !important;
}

/* Animation pour le modal de recherche */
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}
